@model IEnumerable<WebApplication2.Models.Entero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
        @Html.ActionLink("Create New", "Create")<br />  
    @Html.ActionLink("Mostrar en postorden", "Post")<br />
    @Html.ActionLink("Mostrar en preOrden", "Pre");
</p>
