@model IEnumerable<WebApplication2.Models.Entero>

@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>
<p>
    @Html.ActionLink("Back to list ", "Index");
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor);
        </th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(show => i.valor);
            </td>

        </tr>
    }
</table>

