@model IEnumerable<WebApplication2.Models.Cadena>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")<br />
    @Html.ActionLink("Recorrido PostOrden", "Post");<br />
    @Html.ActionLink("Recorrido PreOrden", "PRe");
</p>

